body {
    background: turquoise;
}

button {
    background: oldlace;
    font-size: 22px;
    box-sizing: border-box;
    border-style: solid black 2px;
    font-weight: bold;
    margin: 20px;
}

input {
    display: block;
    align: center;
    margin: 20px;
    color: #5555;
    font-weight: bold;
    font-size: 30px;
}