body {
    background: turquoise;
}

button {
    background: oldlace;
    font-size: 12px;
    box-sizing: border-box;
    border-style: solid black 2px;
}

#address {
    color: #5555;
    font-weight: bold;
}
#bathrooms {
    color: #5555;
    font-weight: bold;
}
#bedrooms {
    color: #5555;
    font-weight: bold;
}